body {
    background: rgb(165,5,187);
    background: linear-gradient(90deg, rgba(165,5,187,1) 12%, rgba(171,85,193,1) 48%, rgba(94,37,117,1) 67%, rgba(125,0,255,1) 100%);
}

.header {
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 35px;
    color: white;
}

.header:hover {
    font-size: 36px;
    transition-duration: 0.1s;
    color: rgb(255, 244, 244);
}

.banner-img {
    width: 700px;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    border-radius: 30%;
}

.banner-img:hover {
    border-radius: 2%;
    transition-duration: 0.3s;
}

li {
    list-style-type: none;

}

a {
    text-decoration: none;
    color: rgb(245, 245, 245);
    font-weight: bold;
    font-family: Montserrat, sans-serif;
    font-size: 25px;
}

a:hover {
    color: rgb(106, 250, 255);
    font-size: 26px;
    padding-left: 5px;
    transition-duration: 0.15s;
}